// First override some or all individual color variables
$primary: #9CF6F6;
$secondary: #F3C98B;
$success: #3e8d63;
$info: #DAA588;
$warning: #C46D5E;
$danger: #c44c36;
$light: #f8f9fa;
$dark: #459494;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
