// First override some or all individual color variables
$primary: #9CF6F6;
$secondary: #F3C98B;
$success: #3e8d63;
$info: #DAA588;
$warning: #C46D5E;
$danger: #c44c36;
$light: #f8f9fa;
$dark: #459494;
$bgcolor:#fdf1de5c;
$navcolor: #00A693;
$btncolor: #008080;
$listbg:#7BA05B;
$taskbg: #FF7538;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
  bgcolor: $bgcolor,
  navcolor: $navcolor,
  btncolor: $btncolor,
  listbg: $listbg,
  taskbg: $taskbg
	// add any additional color below
);

/* ----------------------------------------------*\
#GOOGLE FONTS
\*----------------------------------------------*/

 @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Josefin+Sans:ital,wght@0,300;1,400;1,700&family=Jost:wght@400;500;700&display=swap");
/*----------------------------------------------*\
#CSS VARIABLES
\*----------------------------------------------*/

 :root {


  /*
    *typography
     */

--body-font: "Josefin Sans", sans-serif;
  --second-font: "Caveat", cursive; 
     
  /*
    *colors
     */

 --primary-color: hsl(227, 77%, 58%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 92%);
  --bg-color: hsl(214, 34%, 16%);
  --bg-color-alt: hsl(212, 14%, 21%);
  --container-color: hsl(217, 18%, 14%);
  --border-color: hsl(210, 2%, 65%);
  --first-gradient: linear-gradient(0deg, var(--bg-color-alt) 0%, var(--bg-color) 100%);
  --second-gradient: linear-gradient(180deg, var(--bg-color-alt) 0%, var(--bg-color) 100%);
  --third-gradient: linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color) 100%);
}

body {
  font-family: var(--body-font); 
} 

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


/*
JENS COLORS

asparagus: #7BA05B
orange: #FF7538
harvest_gold: #E6A817
gamboge: #EF9B0F
persian_green: #00A693
teal: #008080
*/